.kirmizi{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.5);
    position: absolute;
    left: 200px;
    z-index: 10;
}

.mavi{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: rgba(0, 0, 255, 0.5);
    position: absolute;
    left: 300px;
}

.sari{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgba(255, 255, 0, 0.5);
    position: absolute;
    left: 250px;
    top: 100px;
}